<div class="well well-small">
    <blockquote>
        <div class="span11">
            <!-- link_to post.title, post -->
            <% if post %>
                <%= link_to post.title, post %>
            <% end %>
        </div>
        <!--%= render :partial => "posts/author_help", locals: { post: post } %-->
    </blockquote>
    <div class="row show-grid">
        <div class="span10">
            <%= raw(truncate(@markdown.render(comment.body), length: 200)) %>
            <%= render 'admin/comments/admin_tools', comment: comment if defined?(admin)%>
        </div>
    </div>
</div>
