<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<div class="row">
    <div class="span4"><h1>Posts</h1></div>
    <div class="span2 offset6">
        <%= link_to("Create post", new_post_path) if signed_in? %>
    </div>
</div>

<% @posts.each do |post| %>
    <div class="container">
      <%= render partial: "posts/short_post_partial", locals: {post: post} %>
    </div>
<% end %>